{% extends "layout.html" %}
{% load i18n %}
{% block title %}SMS Command Reference{% endblock %}
{% block content %}

<div class="module">

<table width="100%"> 
    <tbody>
    <tr>
        <td colspan="2">
			<h2>English Commands</h2>  
        </td>
    </tr><tr>
        <td>join</td><td></td>
    </tr><tr>
        <td>name</td><td></td>
    </tr><tr>
        <td>leave</td><td></td>
    </tr><tr>
        <td>language</td><td></td>
    </tr><tr>
        <td>help</td><td></td>
    </tr><tr>
        <td>create</td><td></td>
    </tr><tr>
        <td>member</td><td></td>
    </tr><tr>
        <td>citizens</td><td></td>
    </tr><tr>
        <td>remove</td><td></td>
    </tr>
    <tr>
        <td colspan="2">
			<h2>French Commands</h2>  
        </td>
    </tr><tr>
        <td>123 entrer</td><td></td>
    </tr><tr>
        <td>123 nom</td><td></td>
    </tr><tr>
        <td>123 quitter</td><td></td>
    </tr><tr>
        <td>123 aide</td><td></td>
    </tr><tr>
        <td>123 creer</td><td></td>
    </tr>
    <tr>
        <td colspan="2">
			<h2>Dyuola Commands</h2>  
        </td>
    </tr><tr>
        <td>123 unoken</td><td>join </td>
    </tr><tr>
        <td>123 karees</td><td>name</td>
    </tr><tr>
        <td>123 upur</td><td>leave</td>
    </tr><tr>
        <td>123 rambenom</td><td>help</td>
    </tr>
    <tr>
        <td colspan="2">
			<h2>Wolof Commands</h2>  
        </td>
    </tr><tr>
        <td>123 duggu</td><td>join</td>
    </tr><tr>
        <td>123 genn</td><td>name</td>
    </tr><tr>
        <td>123 tur</td><td>leave</td>
    </tr><tr>
        <td>123 ndimbal</td><td>help</td>
    </tr>
    <tr>
        <td colspan="2">
			<h2>Pulaar Commands</h2>  
        </td>
    </tr><tr>
        <td>123 naattugol</td><td>join</td>
    </tr><tr>
        <td>123 yettoode</td><td>name</td>
    </tr><tr>
        <td>123 yaltude</td><td>leave</td>
    </tr><tr>
        <td>123 dallal</td><td>help</td>
    </tr><tr>
        <td>123 penngugol</td><td>create village</td>
    </tr><tr>
        <td colspan="2">
			<h2>Soninke Commands</h2>  
        </td>
    </tr><tr>
        <td>123 ro</td><td>join</td>
    </tr><tr>
        <td>123 toxo</td><td>name</td>
    </tr><tr>
        <td>123 bagu</td><td>leave</td>
    </tr><tr>
        <td>123 deema</td><td>help</td>
    </tr><tr>
        <td>123 taga</td><td>create</td>
    </tr>
    <tr>
        <td colspan="2">
			<h2>Mandinko Commands</h2>  
        </td>
    </tr><tr>
        <td>123 koo</td><td>join</td>
    </tr><tr>
        <td>123 ntoo</td><td>name</td>
    </tr><tr>
        <td>123 nbetaamala</td><td>leave</td>
    </tr><tr>
        <td>123 n'deemaa</td><td>help</td>
    </tr>
    </tbody>
</table>
<p></p>
</div>
{% endblock %}
