span.template-header {
	font-weight: bold;
	display: block;
	padding-bottom: 0;
	margin-bottom: 0;
	position: relative;
}

.right {
        float:right; 
        color: red;
}

.error {
        color: red;
 }
 
