{% extends "smsforum/template_manage.html" %}
{% load i18n %}
{% block title %}The Jokko Initiative - A RapidSMS Project by Tostan{% endblock %}
{% block content %}

<div class="module">

<h1>{% trans "Manage Site Data" %}</h1>
<h4><i>{% trans "What would you like to do?" %}</i></h4>

<ul>
{% if perms.smsforum.add_community or perms.smsforum.change_community or perms.smsforum.delete_community %}
<li>
	<a href="{% url smsforum.views.regions %}">
		{% trans "Manage communities" %}
	</a>
</li>
<li>
	<a href="{% url contacts %}">
		{% trans "Manage memberships" %}
	</a>
</li>
{% endif %}
{% if perms.tagging.add_tag or perms.tagging.change_tag or perms.tagging.delete_tag %}
<li>
	<a href="{% url smsforum.views.messages %}">
		{% trans "Edit, translate, and categorize messages" %}
	</a>
</li>
{% endif %}
{% if perms.smsforum.add_community or perms.smsforum.change_community or perms.smsforum.delete_community %}
<li>
	<a href="/admin/auth/user">
		{% trans "Manage accessibility of the SMS and websites" %}
	</a>
</li>
{% endif %}

</div>
{% endblock %}
