{% extends "layout.html" %}
{% load i18n %}
{% block title %}The Jokko Initiative - A RapidSMS Project by Tostan{% endblock %}
{% block content %}

<div class="module">

<h1><span style="color:red">{% trans "Travaux en cours: À suivre" %}</span></h1>

<h1>{% trans "Send an SMS message to one or a group of communities" %}</h1>



{% include 'smsforum/partials/community_dropdown.html' %}

<p/><p/>
<form>

			<textarea cols="40" rows="6"></textarea><br/>
			
			<input type="button" class="send" value="{% trans 'Send SMS Messages' %}" disabled="diabled />
			<input type="button" class="cancel" value="{% trans 'Cancel' %}" disabled="disabled" />

</form>

</div>
{% endblock %}
