{% extends "smsforum/template_visualize.html" %}
{% load i18n %}
{% block title %}{% trans "Villages" %}{% endblock %}

{% block stylesheets %} 
<link rel="stylesheet" href="/static/stylesheets/style.css" />
{% endblock %}

{% block content %}

{% include 'smsforum/partials/total.html' %}

{% include 'smsforum/partials/villages.html' %}

<br/>
*{% trans "Note that the count of message 'sent by Tostan' are not exact when calculated 'per village', but are exact globally. This is because of 'double counts' when a user is member of more than one village." %}
{% endblock %}

