{% load i18n %}
{% load pagination %}

<div class="module">
	<h2>{% trans "Citizens of " %}{{ village.name }}</h2>
	<table>
		<thead>
			<tr>
                {% if perms.reporters.can_view %}
					<th scope="col">{% trans "Common Name" %}</th>
					<th scope="col">{% trans "Given Name" %}</th>
					<th scope="col">{% trans "Family Name" %}</th>
	                <th scope="col">{% trans "Phone Number" %}</th>
	            {% else %}
					<th scope="col">{% trans "ID" %}</th>
				{% endif %}
				<th scope="col">{% trans "Gender" %}</th>
                <th scope="col">{% trans "Age" %}</th>
                <th scope="col">{% trans "Sent to Tostan" %}</th>
                <th scope="col">{% trans "Received From Tostan" %}</th>
                <th scope="col">{% trans "Date Joined" %}</th>
			</tr>
		</thead>
		<tbody>{% if members.object_list %}{% for member in members.object_list %}
			<tr>
                {% if perms.reporters.can_view %}
	                <td><a href="/member/{{ member.pk }}"{% if member.common_name %}>{{ member.common_name }}{% else %} class="unknown">{% trans 'Unknown' %}{% endif %}</a></td>
					<td>{% if member.reporter.first_name %}{{ member.reporter.first_name }}{% else %}<span class="na">n/a</span>{% endif %}</td>
					<td>{% if member.reporter.last_name %}{{ member.reporter.last_name }}{% else %}<span class="na">n/a</span>{% endif %}</td>
	                <td>{% if member.phone_number %}{{ member.phone_number }}{% else %}<span class="na">n/a</span>{% endif %}</td>
	            {% else %}
					<td><a href="/member/{{ member.pk }}">{{ member.pk }}</a></td>
				{% endif %}
                <td>{% if member.gender %}{{ member.gender }}{% else %}<span class="na">n/a</span>{% endif %}</td>
                <td>{% if member.age_years %}{{ member.age_years|floatformat:"0" }}{% else %}<span class="na">n/a</span>{% endif %}</td>
                <td>{% if member.message_count %}{{ member.message_count }}{% else %}<span class="na">n/a</span>{% endif %}</td>
                <td>{% if member.received_message_count %}{{ member.received_message_count }}{% else %}<span class="na">n/a</span>{% endif %}</td>
                <td>{% if member.date_joined %}{{ member.date_joined|date:"D M d H:i" }}{% else %}<span class="na">n/a</span>{% endif %}</td>
			</tr>{% endfor %}
            <tr>
                {% if perms.reporters.can_view %}
	                <td colspan="9">
	            {% else %}
    	            <td colspan="6">
				{% endif %}
                {% if perms.reporters.can_add %}
	                    <a href="/village/{{village.id}}/member/add" class="add">
	                        {% trans "Add a Member" %}
	                    </a>
				{% endif %}
                </td>
            </tr>
			{% else %}
			<tr class="no-data">
                {% if perms.reporters.can_view %}
	                <td colspan="9">
	            {% else %}
    	            <td colspan="6">
				{% endif %}
					{% trans "No members yet" %}
	                {% if perms.village.can_add %}
					<a href="/village/{{village.id}}/member/add" class="add">
						{% trans "Add a Member" %}
					</a>
	                {% endif %}
				</td>
			</tr>{% endif %}
		</tbody>
		<tfoot>
			<tr>
                {% if perms.reporters.can_view %}
	                <td colspan="9">
	            {% else %}
    	            <td colspan="6">
				{% endif %}
					{% paginator members %}
				</td>
			</tr>
		</tfoot>
	</table>
	   	<div class="toolbar">
		   	<a href="/village/{{ village.id }}/history" class="history">{% trans "View History" %}</a>
		</div>
</div>

