{% load i18n %}
{% load pagination %}
{% load smsforum %}
{% if messages %}
<p/>

<div class="module">
    <h2>{% trans "Messages" %}
		{% if village_filter %}
			{% trans 'for' %} {{village_filter.name}}					
		{% else %}
			{% if region_filter %}
				{% trans 'for' %} {{region_filter.name}}
			{% endif %}
		{% endif %}
    </h2>
    <!-- if messages is a partial, redirect to 'messages' view to save translations
    and then return to this (presumably 'village') view -->
    <form action="/messages{% if village %}?next=/village/{{village.pk}}{% endif %}" method="POST">
    <table>
        <thead>
            <tr>
                <th scope="col">{% trans "Date" %}</th>
                <th scope="col">{% trans "Message" %}</th>
                {% if perms.reporters.can_view %}
	                <th scope="col">{% trans "Phone Number" %}</th>
                {% endif %}
                <th scope="col">{% trans "Community" %}</th>
                <th scope="col">{% trans "Translation" %}</th>
                <th scope="col">{% trans "Category" %}</th>
            </tr>
        </thead>
        <tbody>{% if messages.object_list %}{% for message in messages.object_list %}
            <tr>
                <td>{% if message.received %}{{ message.received|date:"D M d H:i" }}{% else %}<span class="na">n/a</span>{% endif %}</td>
                <td>{% if message.text %}{{ message.text }}{% else %}<span class="na">n/a</span>{% endif %}</td>
                {% if perms.reporters.can_view %}
	                <td>{% if message.identity %}{{ message.identity }}{% else %}<span class="na">n/a</span>{% endif %}</td>
                {% endif %}
                <td>
                {% if message.domains %}
	                {% for domain in message.domains.all %}
	                	{{ domain.community.village }}
	                {% endfor %}
	            {% else %}
	            	<span class="na">n/a</span>
                {% endif %}
                </td>
                <td>
                    {% if perms.tagging.add_tag %}
	                    <input type="hidden" name="message" value="{{message.id}}"/>
	                    <input size="50" type="text" name="trans_{{message.id}}" value="{% if message.note %}{{ message.note }}{% else %}{% endif %}" maxlength="255" />
                    {% else %}
                    	{{message.note}}
	                {% endif %}
                </td>
                <td>
                    {% if perms.tagging.add_tag %}
	                    <select name="category_{{message.id}}" value="category" >
	                      <!-- Set up default code (empty) -->
						  <option value='' 
						  {% if not message.selected %}
	                          selected
	                      {% endif %}
	                      >None
	                      {% for category in categories %}
	                      	  <option value="{{ category.name }}"
	                          {% ifequal message.selected category.name %}
	                              selected
	                          {% endifequal %}>
	                          <!-- add indentation -->
							  {% for i in category.depth|get_range %}
							    <!-- we don't indent first-level nodes -->
	  						    {% ifnotequal forloop.counter0 0%}
							  		&nbsp;&nbsp;
							  	{% endifnotequal %}
							  {% endfor %}
	                          {{ category.name }}
	                      {% endfor %}
	                    </select>
	                {% else %}
	                	{{ message.selected }}
	                {% endif %}
                </td>
            </tr>{% endfor %}{% else %}
            <tr class="no-data">
                <td colspan="5">
                    {% trans "No messages yet" %}
                </td>
            </tr>{% endif %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">
                    {% paginator messages %}
                </td>
                <td colspan="3">
                
                    {% if perms.tagging.add_tag %}
	                	<span class="right">
	                    <input type="submit" value="{% trans 'Save Translations' %}" />
	                    </span>
	                {% endif %}
                </td>
                <td>
                </td>
            </tr>
        </tfoot>
    </table>
    </form>
</div>

<div class="clear-hack"></div>
{% endif %}
