{% load i18n %}
{% load pagination %}

<div class="module">
	<h2>{% trans "Villages" %}</h2>
	<table>
		<thead>
			<tr>
				<th scope="col">{% trans "Name" %}</th>
				<th scope="col">{% trans "Members" %}</th>
				<th scope="col">{% trans "Messages Sent" %}</th>
                <th scope="col">{% trans "Messages Sent This Week" %}</th>
			</tr>
		</thead>
		<tbody>
		{% if villages_paginated.object_list %}
			{% for village in villages_paginated.object_list %}
			<tr>
				<td><a href="/village/{{ village.pk }}"{% if village.name %}>{{ village.name }}{% else %} class="unknown">Unknown{% endif %}</a></td>
                <td>{% if village.member_count %}{{ village.member_count }}{% else %}<span class="na">n/a</span>{% endif %}</td>
                <td>{% if village.incoming_message_count %}{{ village.incoming_message_count }}{% else %}<span class="na">n/a</span>{% endif %}</td>
				<td>{% if village.incoming_message_this_week_count %}{{ village.incoming_message_this_week_count }}{% else %}<span class="na">n/a</span>{% endif %}</td>
			</tr>{% endfor %}{% else %}
			<tr class="no-data">
				<td colspan="4">
					{% trans "No villages yet" %}
					<a href="/village/add" class="add">
						{% trans "Add a Village" %}
					</a>
				</td>
			</tr>{% endif %}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="4">
					{% paginator villages_paginated %}
				</td>
			</tr>
		</tfoot>
	</table>
	
	{% if perms.village.can_add %}
	<div class="toolbar">
		<a href="/village/add" class="add">{% trans "Add a Village" %}</a>
	</div>
	{% endif %}
</div>
