{% load i18n %}

<div class="module">
<h2>{{ title }} '{{ village.name }}'</h2>
    <p/>
    <!-- I know this isn't css-correct. But my stylesheets aren't working =b -->
    {% if status %}<div>{{ status }}</div>{% endif %}
    {% if error %}<div style="color:red">{{ error }}</div>{% endif %}
    
    {% if perms.smsforum.change_community or perms.smsforum.change_village or perms.smsforum.change_region %}
		<form action="" method="POST">
		{{ form }}<p/>
		<input type="submit" value="Submit" />
		</form>
	{% else %}
		<table><tr><td>
			{% trans 'Name' %}: </td><td> {{ form.instance.name }}</td></tr><tr><td>
			{% trans 'Latitude' %}: </td><td>{{ form.instance.location.latitude }}</td></tr><tr><td>
			{% trans 'Longitude' %}: </td><td>{{ form.instance.location.longitude }}</td></tr><tr><td>
			{% trans 'Notes' %}: </td><td>{{ form.instance.notes }}</td></tr>
		</table>
	{% endif %}

    {% if perms.smsforum.delete_community or perms.smsforum.delete_village or perms.smsforum.delete_region %}
   	<div class="toolbar">
   		{% if delete_link %}
		   	<a href="{{ delete_link }}" class="delete">{% trans "Delete" %}</a>
		{% else %}
		   	<a href="/village/delete/{{ village.pk }}" class="delete">{% trans "Delete" %}</a>
		{% endif %}
	</div>
	{% endif %}

</div>


